.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.title{
    margin-left: 15%;
    position: absolute;
    top: -30px;
    background: #1E3DB7;
    color: #fff;
    padding: 10px 20px;
    font-weight: normal;
    letter-spacing: 1px;
    width: 60%;
    height: 60px;
    text-align: center;
    border-radius: 3px;
}
.title:before {
        content: "";
        position: absolute;
        top: 0;
        left: -18px;
        border-left: 10px solid transparent;
        border-right: 10px solid  #c0392b ;
        border-top: 20px solid transparent;
        border-bottom: 11px solid  #c0392b ;
        border-radius: 3px;
        z-index:30;
    }

.margins{
margin-top:50px;}
.margins-left{
margin-left:50px;}

/* tr:hover {background-color:  #f2d7d5
;}
tr:nth-child(even) {background-color:  #f2d7d5;} */
.p-10{
padding:10px;}
.p-font{
font-size: 24px;}
.radius{
 border-radius: 3px;}
.pointer{
cursor: pointer;
}